:root {
    --safe-area-inset-top: env(safe-area-inset-top, 0px);
    --safe-area-inset-right: env(safe-area-inset-right, 0px);
    --safe-area-inset-bottom: env(safe-area-inset-bottom, 0px);
    --safe-area-inset-left: env(safe-area-inset-left, 0px);
}

.main{
    box-sizing: border-box;
    height: 100%;
    width: 100%;

    /* Adjust margin based on safe area insets */
    padding-top: var(--safe-area-inset-top);
    padding-right: var(--safe-area-inset-right);
    padding-left: var(--safe-area-inset-left);

    display: flex;
    flex-flow: column;
    background: transparent;

}

.content{
    // Expand the containing page
    flex-grow: 1;

    padding: 14px 12px 0;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.content::-webkit-scrollbar {
    display: none;
    overflow-y: scroll;
}

/* Hide scrollbar for IE, Edge and Firefox */
.content{
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    overflow-y: scroll;
}

@media (min-width: 720px) {
    .content {
        padding: 18px 18px 0;
    }
}
