<div class="main">
    <div class="content">
        <form class="form" (submit)="onSalvaClicked()" (reset)="onAnnullaClicked()" [formGroup]="editingForm">
            <mat-form-field [style.fontSize]="fontSize.value" class="form-filed">
                <textarea 
                    matInput
                    formControlName="text"
                    placeholder='Mi impegno a...'
                    cdkTextareaAutosize
                    #autosize="cdkTextareaAutosize"
                    cdkAutosizeMinRows="8"
                    cdkAutosizeMaxRows="15"
                    name="text"></textarea>
              </mat-form-field>

            <button mat-flat-button class="salva" type="submit">Salva</button>
            <button mat-flat-button class="annulla" type="reset">Annulla</button>
            
          </form>
    </div>
</div>
