<div>
  <div class="title-1">
    <mat-form-field subscriptSizing="dynamic">
      <mat-select [(ngModel)]="selectedBranca" (selectionChange)="onBrancaChange()" name="branca">
        <mat-option *ngFor="let branca of branche" [value]="branca.value">
          {{ branca.viewValue }}
        </mat-option>
      </mat-select>
    </mat-form-field>  
  </div>
  
  <div>
    <mat-divider></mat-divider>
      <div *ngIf="selectedBranca != 'clan'" class="title-2">
        <h6 *ngIf="selectedTappa == 'branco-1'" >Prede per lupo legge</h6>
        <h6 *ngIf="selectedTappa == 'branco-2'" >Prede per lupo rupe</h6>
        <h6 *ngIf="selectedTappa == 'branco-3'" >Prede per lupo anziano</h6>

        <h6 *ngIf="selectedTappa == 'reparto-1'" >Obbiettivi per la tappa della scoperta</h6>
        <h6 *ngIf="selectedTappa == 'reparto-2'" >Obbiettivi per la tappa della competenza</h6>
        <h6 *ngIf="selectedTappa == 'reparto-3'" >Obbiettivi per la tappa della responsabilità</h6>

        <div class="arrow-button">
          <button mat-icon-button (click)="previwsTappa()"><i class="material-icons">arrow_back</i></button>
          <button mat-icon-button (click)="nextTappa()"><i class="material-icons">arrow_forward</i></button>
        </div>
      </div>

      <div *ngIf="selectedBranca == 'clan'" [ngSwitch]="selectedTappa" class="title-2">
        <h6 *ngSwitchCase="'clan-1'" >Il mio punto della strada 1</h6>
        <h6 *ngSwitchCase="'clan-2'" >Il mio punto della strada 2</h6>
        <h6 *ngSwitchCase="'clan-3'" >Il mio punto della strada 3</h6>
        <h6 *ngSwitchCase="'clan-4'" >Il mio punto della strada 4</h6>
        <h6 *ngSwitchCase="'clan-5'" >Il mio punto della strada 5</h6>
        <h6 *ngSwitchCase="'clan-6'" >Il mio punto della strada 6</h6>
        <h6 *ngSwitchCase="'clan-7'" >Il mio punto della strada 7</h6>
        <h6 *ngSwitchCase="'clan-8'" >Il mio punto della strada 8</h6>
        <h6 *ngSwitchDefault>Errore, riseleziona la tua branca</h6> 

        <div class="arrow-button">
          <button mat-icon-button (click)="previwsTappa()"><i class="material-icons">arrow_back</i></button>
          <button mat-icon-button (click)="nextTappa()"><i class="material-icons">arrow_forward</i></button>
        </div>
      </div>

      



      <div *ngFor="let objective of selectedTappaObjectives; let i = index" class="list">
        <ol><p>{{ i + 1 }}:</p> 
              <div class="text-container">
                <textarea
                cdkTextareaAutosize
                #autosize="cdkTextareaAutosize"
                cdkAutosizeMinRows="1"
                 name="objective"
                 rows="1" 
                 [ngModel]="selectedTappaObjectives[i]" 
                 (blur)="updateObjective(i, $event)"
                 placeholder="Il mio obbiettivo..."
                 >
                </textarea>
              </div>
        </ol>
      </div>
  </div>

<div class="end-page-spacer"></div>