<h1 class="title-1 title">Impostazioni</h1>
<mat-divider></mat-divider>

<p class="title-2 section-title">Link utili</p>
<div class="section-container">
  <mat-list>
    <mat-list-item><a href="https://buonacaccia.net">BuonaCaccia.net</a></mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item><a href="https://www.agesci.it">Agesci</a></mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item><a href="https://cngei.it">Cngei</a></mat-list-item>
  </mat-list>
  
</div>

<p class="title-2 section-title">Info su questa app</p>
<div class="section-container">
  <mat-list>
    <mat-list-item><a href="https://github.com/emprine/app-scout">Supporta lo sviluppo</a></mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item><a href="https://emprine.github.io/app-scout">Altre info</a></mat-list-item>
  </mat-list>
</div>

<div class="end-page-spacer"></div>