<nav>
  <mat-button-toggle-group [hideSingleSelectionIndicator]="hideSingleSelectionIndicator()">
    <mat-button-toggle routerLink="/jurney">
        <mat-icon aria-hidden="false" aria-label="Jurney" fontIcon="history_edu"></mat-icon>
    </mat-button-toggle>
    <mat-button-toggle routerLink="/archive">
        <mat-icon aria-hidden="false" aria-label="Archive" fontIcon="collections_bookmark"></mat-icon>
    </mat-button-toggle>
    <mat-button-toggle routerLink="/settings">
        <mat-icon aria-hidden="false" aria-label="Settings" fontIcon="settings"></mat-icon>
    </mat-button-toggle>
  </mat-button-toggle-group>
</nav>
  