//------------------------------ START NAV ------------------------------

// Variables
@nav-height: 56px;
@nav-bg-color: rgb(13, 28, 114);
@nav-selected-color: rgba(255, 255, 255, 0.18);

// Base Styles
:host {
    display: block;
    flex-shrink: 0;
}

nav {
    min-height: @nav-height;
    width: 100%;
    position: sticky;
    left: 0;
    bottom: 0;

    padding-bottom: var(--safe-area-inset-bottom);

    display: flex;
    justify-content: stretch;
    gap: 1px;
    background-color: @nav-bg-color;
    border-radius: 10px 10px 0px 0px;
    overflow: hidden;

    mat-button-toggle-group{
        flex-grow: 1;
        min-height: @nav-height;
        text-align: center;
        display: flex;
        background-color: transparent;
        border-radius: 0;
        overflow: hidden;

        --mat-standard-button-toggle-shape: 0px;
        --mat-standard-button-toggle-divider-color: transparent;
        --mat-standard-button-toggle-selected-state-background-color: @nav-selected-color;
        --mat-standard-button-toggle-selected-state-text-color: black;
        border: none;
    }

    mat-button-toggle{
        flex: 1 1 0;
        min-height: @nav-height;
        border: none;
        border-radius: 0;
        text-align: center;
        display: flex;
        color: white;
        overflow: hidden;
    }

    mat-icon {
        width: 24px;
        height: 24px;
        font-size: 24px;
        line-height: 24px;
    }
}

::ng-deep app-navbar .mat-button-toggle-group,
::ng-deep app-navbar .mat-button-toggle-standalone {
    border-radius: 0 !important;
}

::ng-deep app-navbar .mat-button-toggle,
::ng-deep app-navbar .mat-button-toggle:first-child,
::ng-deep app-navbar .mat-button-toggle:last-child {
    border-radius: 0 !important;
}

::ng-deep app-navbar .mat-button-toggle-button {
    width: 100%;
    height: 100%;
    border-radius: 0 !important;
}

::ng-deep app-navbar .mat-button-toggle-label-content {
    width: 100%;
    min-height: @nav-height;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
}

::ng-deep app-navbar .mat-button-toggle-checked {
    background-color: @nav-selected-color;
    color: black;
}

::ng-deep app-navbar .nav-toggle-active {
    background-color: @nav-selected-color;
    color: black !important;
}

::ng-deep app-navbar .nav-toggle-active mat-icon {
    color: black !important;
}

//------------------------------ END NAV ------------------------------



