<div class="heading-lottie">
  <app-lottie-animation [path]="'lottie/WalkingObjectives.json'" [loop]="true" [autoplay]="true" ></app-lottie-animation>
</div>

<h3 class="title-1">Il mio percorso</h3>

<!-- La mia pista section for 'branco' tappe -->
<div *ngIf="hasBrancoContent()">
  <h4 class="title-2">La mia pista</h4>
  <mat-divider></mat-divider>
</div>

<div *ngFor="let tappa of (allFilledTappe | keyvalue)" class="branca-group">
  <div *ngIf="tappa.key === 'branco-1' || tappa.key === 'branco-2' || tappa.key === 'branco-3'">
    <h5 *ngIf="tappa.key === 'branco-1'" class="title-3">{{ dhs.tappeBranco[0].viewValue }}</h5>
    <h5 *ngIf="tappa.key === 'branco-2'" class="title-3">{{ dhs.tappeBranco[1].viewValue }}</h5>
    <h5 *ngIf="tappa.key === 'branco-3'" class="title-3">{{ dhs.tappeBranco[2].viewValue }}</h5>
    <ul *ngFor="let obj of tappa.value" class="bullet">
      <li>{{ obj }}</li>
    </ul>
  </div>
</div>

<!-- Il mio sentiero section for 'reparto' tappe -->
<div *ngIf="hasRepartoContent()">
  <h4 class="title-2">Il mio sentiero</h4>
  <mat-divider></mat-divider>
</div>

<div *ngFor="let tappa of (allFilledTappe | keyvalue)" class="branca-group">
  <div *ngIf="tappa.key === 'reparto-1' || tappa.key === 'reparto-2' || tappa.key === 'reparto-3'">
    <h5 *ngIf="tappa.key === 'reparto-1'" class="title-3">{{ dhs.tappeReparto[0].viewValue }}</h5>
    <h5 *ngIf="tappa.key === 'reparto-2'" class="title-3">{{ dhs.tappeReparto[1].viewValue }}</h5>
    <h5 *ngIf="tappa.key === 'reparto-3'" class="title-3">{{ dhs.tappeReparto[2].viewValue }}</h5>
    <ul *ngFor="let obj of tappa.value" class="bullet">
      <li>{{ obj }}</li>
    </ul>
  </div>
</div>

<!-- La mia strada section for 'clan' tappe -->
<div *ngIf="hasClanContent()">
  <h4 class="title-2">La mia strada</h4>
  <mat-divider></mat-divider>
</div>



<div *ngFor="let tappa of (allFilledTappe | keyvalue)" class="branca-group">
  <div *ngIf="tappa.key === 'clan-1' || tappa.key === 'clan-2' || tappa.key === 'clan-3' || tappa.key === 'clan-4' || tappa.key === 'clan-5' || tappa.key === 'clan-6' || tappa.key === 'clan-7' || tappa.key === 'clan-8'">
    <h5 *ngIf="tappa.key === 'clan-1'" class="title-3">{{ dhs.tappeClan[0].viewValue }}</h5>
    <h5 *ngIf="tappa.key === 'clan-2'" class="title-3">{{ dhs.tappeClan[1].viewValue }}</h5>
    <h5 *ngIf="tappa.key === 'clan-3'" class="title-3">{{ dhs.tappeClan[2].viewValue }}</h5>
    <h5 *ngIf="tappa.key === 'clan-4'" class="title-3">{{ dhs.tappeClan[3].viewValue }}</h5>
    <h5 *ngIf="tappa.key === 'clan-5'" class="title-3">{{ dhs.tappeClan[4].viewValue }}</h5>
    <h5 *ngIf="tappa.key === 'clan-6'" class="title-3">{{ dhs.tappeClan[5].viewValue }}</h5>
    <h5 *ngIf="tappa.key === 'clan-7'" class="title-3">{{ dhs.tappeClan[6].viewValue }}</h5>
    <h5 *ngIf="tappa.key === 'clan-8'" class="title-3">{{ dhs.tappeClan[7].viewValue }}</h5>
    <ul *ngFor="let obj of tappa.value" class="bullet">
      <li>{{ obj }}</li>
    </ul>
  </div>
</div>


<div class="end-page-spacer"></div>